aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
backports.entry-points-selectable==1.1.0
cachetools==4.2.4
cffi==1.14.6
chardet==4.0.0
discord-interactions==0.3.0
discord-py-interactions==4.3.0
discord.py==1.7.3
distlib==0.3.3
filelock==3.2.1
future==0.18.2
idna==3.1
imutils==0.5.3
multidict==5.1.0
pefile==2021.9.3
Pillow==9.2.0
platformdirs==2.4.0
ply==3.11
pycparser==2.20
pygame==2.0.1
PyNaCl==1.4.0
python-dotenv==0.17.1
PyYAML==6.0
six==1.16.0
typing-extensions==3.10.0.0
virtualenv==20.8.1
yarl==1.6.3
